.backArrow, .chevron {
	width: 40px;
	height: 40px;
	padding: 8px;
}
.arrowImage, .chevronImage {
	width: 100%;
	height: 100%;
}
.deliveryAddress {
	display: flex;
	position: fixed;
    top: 0px;
    width: 100%;
    height: 56px;
    background-color: #ffffff;
}
.deliveryLocation {
	font-size: 20px;
	font-weight: bold;
	text-align: left
}
.locationCont {
	padding: 8px 0px;
}
.dateContainer {
	display: flex;
    overflow: scroll;
    position: fixed;
    top: 56px;
    width: 92%;
    background-color: #ffffff;
}
.dateContent {
	padding: 12px;
	background-color: white;
	color: #424749;
}
.dateContent.selected {
	background-color: #424749;
	color: white;
	border-radius: 50%;
	min-width: 42px;
}
.dateContent.disabled {
	opacity: 50%;
	pointer-events: none;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.flexContainer {
  color: gray;
  border: 2px solid #424749;
  border-radius: 3px;
  margin: 137px 5px 0px 5px;
}
.addressContent {
	padding: 4px;
}
